### 3.03. Formatting Numbers for Output

In [2]:
x = 1234.56789

format(x, '0,.2f')

'1,234.57'

In [3]:
format(x, '>10,.1f')

'   1,234.6'

In [4]:
format(x, '<10,.1f')

'1,234.6   '

In [5]:
format(x, '^10,.1f')

' 1,234.6  '

In [31]:
format(x, '10,.1f')

'   1,234.6'

In [6]:
format(x, 'e')

'1.234568e+03'

In [7]:
format(x, '0.2E')

'1.23E+03'

In [6]:
'The value is {:0,.2f}'.format(x)

'The value is 1,234.57'

In [7]:
x

1234.56789

In [8]:
format(x, '0,.1f')

'1,234.6'

In [9]:
format(-x, '0,.1f')

'-1,234.6'

In [10]:
#Pyton 3
swap_separators = { ord('.'):',', ord(','):'.' }
format(x, ',').translate(swap_separators)

'1.234,56789'

In [15]:
print('%##0.2f'%x, format(x, '0,.2f'))

1234.57 1,234.57

In [16]:
print('%10.1f'%x, format(x, '>10,.1f'))

    1234.6    1,234.6

In [17]:
print('%-10.1f'%x, format(x, '<10,.1f'))

1234.6     1,234.6

In [1]:
print('%(num)d, %(float)f, %(string)s ' % {"num": 3, "float": 3, "string": 'hello'})

3, 3.000000, hello

In [4]:
print('We are the {} who say "{}!"'.format('knights', 'Ni'))

We are the knights who say "Ni!"

In [3]:
print('This {food} is {adjective}.'.format(food='spam', adjective='absolutely horrible'))

This spam is absolutely horrible.

In [2]:
import math
print(f'pi 값은 대략 {math.pi: .5f}입니다.')

pi 값은 대략  3.14159입니다.

In [9]:
table = {'Tom': 1234, 'Jack': 4518, 'Eddie': 9638}
for name, phone in table.items():
    print(f'{name:>6} == {name:<6} ==> {phone:10d}')

   Tom == Tom    ==>       1234
  Jack == Jack   ==>       4518
 Eddie == Eddie  ==>       9638

In [20]:
print('Hello World!')

Hello World!