### 1.01. Unpacking a Sequence into Separate Variables

In [8]:
p = (4,5)
x,y = p

print(x)
print(y)
print(x,y)

4
5
4 5

In [9]:
data = ['ACME',50, 91.1, (2012,12,21)]

name,share,price,date = data
print(name)
print(share)
print(price)
print(date)
print(name,share, price, date)

name,shares,price,(year,mon,day) = data
print(year)
print(mon)
print(day)
print(year,mon,day)

ACME
50
91.1
(2012, 12, 21)
ACME 50 91.1 (2012, 12, 21)
2012
12
21
2012 12 21

NB: If there is a mismatch in the number of elements, an error will occur. Look Below.

In [7]:
p = (4,5)
x,*_,z = p
# p,x,y,z = p
print(x,z)

4 5

Unpacking works with any iterable in Python includings tuples, lists, strings, files, iterators, generators

In [ ]:
s = 'Hello'
a,b,c,d,e = s
print(a)
print(b)
print(c)
print(d)
print(e)

H
e
l
l
o

NB: even tho there is no synatc in discarding parts of the unpacked elements, you can use throwaway variables like '_' to discard unwated elements. 

BE CAREFUL to pick variables that are not used anywhere in a code

In [8]:
data = ['ACME',50, 91.1, (2012,12,21)]

_,share,price,_ = data

print(share, price)

50 91.1

# csv -> dict -> json

In [ ]:
! cat ../data/06_4.stocks.csv
import csv

In [6]:
with open('../data/06_4.stocks.csv', 'rt') as f:
    f_csv = csv.reader(f)
    print(next(f_csv))
    while True:
        try:
            print(next(f_csv))
        except StopIteration:
            break

['Symbol', 'Price', 'Date', 'Time', 'Change', 'Volume']
['AA', '39.48', '6/11/2007', '9:36am', '-0.18', '181800']
['AIG', '71.38', '6/11/2007', '9:36am', '-0.15', '195500']
['AXP', '62.58', '6/11/2007', '9:36am', '-0.46', '935000']
['BA', '98.31', '6/11/2007', '9:36am', '+0.12', '104800']
['C', '53.08', '6/11/2007', '9:36am', '-0.25', '360900']
['CAT', '78.29', '6/11/2007', '9:36am', '-0.23', '225400']

In [ ]:
with open('../data/06_4.stocks.csv', 'rt') as f:
    f_csv = csv.reader(f)
    header = next(f_csv)
    data = [dict(zip(header, row)) for row in f_csv]
    print(len(data), data)
    # import pprint
    # pprint.pprint(data)
    # import json
    # print(json.dumps(data, indent=4))

In [ ]:
# hello 1
# Python code to convert into dictionary
def Convert(tup, di):
	for a, b in tup:
		di.setdefault(a, []).append(b)
	return di

# Driver Code
tups = [("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]
dictionary = {}
print(Convert(tups, dictionary))

In [ ]:
# hello 2
# Python code to convert into dictionary
list_1 = [("Nakul", 93), ("Shivansh", 45), ("Samved", 65), ("Yash", 88), ("Vidit", 70), ("Pradeep", 52)]
dict_1 = dict()

for student, score in list_1:
	dict_1.setdefault(student, []).append(score)
print(dict_1)

In [14]:
# hello 3
# Python code to convert into dictionary
def Convert(tup, di):
	di = dict(tup)
	return di
	
# Driver Code 
tups = [("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]
dictionary = {}
print (Convert(tups, dictionary))

{'akash': 10, 'gaurav': 12, 'anand': 14, 'suraj': 20, 'akhil': 25, 'ashish': 30}

In [15]:
# hello 4
# Python code to convert into dictionary
print(dict([('Sachin', 10), ('MSD', 7), ('Kohli', 18), ('Rohit', 45)]))

{'Sachin': 10, 'MSD': 7, 'Kohli': 18, 'Rohit': 45}

In [17]:
# hello 5
from itertools import groupby

def convert_to_dict(tuple_list):
	# Group the tuples by their first element (the key)
	groups = groupby(tuple_list, key=lambda x: x[0])

	# Create an empty dictionary
	dictionary = {}

	# Iterate over the groups
	for key, group in groups:
		# Extract the second element of each tuple in the group and add it to the dictionary as the value for the key
		dictionary[key] = [tuple[1] for tuple in group]

	return dictionary

# Test the function
tuple_list = [("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]
print(convert_to_dict(tuple_list)) # {'akash':

{'akash': [10], 'gaurav': [12], 'anand': [14], 'suraj': [20], 'akhil': [25], 'ashish': [30]}

In [18]:
# hello 6
tups = [("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]
dictionary = {}
for key, val in tups:
	dictionary.setdefault(key, val)
print(dictionary)
# This code is contributed by Vinay Pinjala.

{'akash': 10, 'gaurav': 12, 'anand': 14, 'suraj': 20, 'akhil': 25, 'ashish': 30}

In [19]:
# hello 7
def convert_to_dict(tuple_list):
	# Create an empty dictionary
	dictionary = {}

	# Iterate over each tuple in the list
	for tuple in tuple_list:
		# Check if the key is already in the dictionary
		if tuple[0] in dictionary:
			# If the key is already in the dictionary, append the value to the existing list
			dictionary[tuple[0]].append(tuple[1])
		else:
			# If the key is not in the dictionary, add it and set the value as a new list
			dictionary[tuple[0]] = [tuple[1]]

	# Return the completed dictionary
	return dictionary

# Test the function
tuple_list = [("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]
# {'akash': [10], 'gaurav': [12], 'anand': [14], 'suraj': [20], 'akhil': [25], 'ashish': [30]}
print(convert_to_dict(tuple_list))

{'akash': [10], 'gaurav': [12], 'anand': [14], 'suraj': [20], 'akhil': [25], 'ashish': [30]}

In [20]:
# hello 8
def convert_to_dict(tuple_list):
	# Create a dictionary using the dict() constructor and a list comprehension
	dictionary = dict((key, value) for key, value in tuple_list)

	# Return the completed dictionary
	return dictionary

tuple_list = [("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]
# {'akash': 10, 'gaurav': 12, 'anand': 14, 'suraj': 20, 'akhil': 25, 'ashish': 30}
print(convert_to_dict(tuple_list))

{'akash': 10, 'gaurav': 12, 'anand': 14, 'suraj': 20, 'akhil': 25, 'ashish': 30}

In [21]:
# hello 9
my_list = [('a', 1), ('b', 2)]
dict(my_list)  # to dic automatically

{'a': 1, 'b': 2}

In [23]:
# hello 10
mylist = [('a',1),('a',2),('b',3)]    
result = {}
for tup in mylist:  
   result.setdefault(tup[0],[]).append(tup[1])
print(result)

{'a': [1, 2], 'b': [3]}

In [26]:
# hello 11
print('1:', dict(one=1, two=2))
print('2:', dict({'one': 1, 'two': 2}))
print('3:', dict(zip(('one', 'two'), (1, 2))))
print('4:', dict([['two', 2], ['one', 1]]))

1: {'one': 1, 'two': 2}
2: {'one': 1, 'two': 2}
3: {'one': 1, 'two': 2}
4: {'two': 2, 'one': 1}

In [27]:
# hello 13
from itertools import groupby

mylist = [('a', 1), ('b', 3), ('a', 2), ('b', 4)]
#mylist = iter([('a', 1), ('b', 3), ('a', 2), ('b', 4)])

result = { k : [*map(lambda v: v[1], values)]
    for k, values in groupby(sorted(mylist, key=lambda x: x[0]), lambda x: x[0])
}

print(result)
# {'a': [1, 2], 'b': [3, 4]}

{'a': [1, 2], 'b': [3, 4]}

In [12]:
print('Hello, World!')

Hello, World!